@charset "UTF-8";

@media screen and (min-width: 768px) {
    i#menu-icon {
        display: none;
    }

    menu nav {
        display: block;    
    }

    menu nav ul li {
        display: inline-block;
    }

    main section {
        width: 768px;
    }
}