@charset "UTF-8";

h1 {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.elements {
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}