main {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 95vh;
        }

        td {
            border: 1px solid black;
            text-align: center;
            width: 30px;
            padding: 15px;
        }