@charset "UTF-8";

/* Estilo para Telas */

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: #b6b4b4;
}

header > h1 {
    text-align: center;
}

menu > ul {
    background-color: #757575;
    list-style-type: none;
}

menu li {
    background-color: #424242;
    color: #FFF;
    display: inline-block;
    padding: 10px;
}

article {
    display: block;
    margin: auto;
    width: 600px;
}